



*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}
.container {
  margin:0 200px;
}
 /*section title*/
.title {
  background-color: #a3a8a3;
}

/*section lyrics*/
.lyrics {
  .song-title{
    text-align: center;
    color: red;
  }
  .text{

  }
}
